@model PizzaFormModel
@{
    Layout = "_Layout";
}

<a href="@Url.Action("Index", "Pizza")">Indietro</a>
<div class="container d-flex pt-5">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3 d-flex justify-content-between">
            <strong>Nome:</strong>
            <input asp-for="Pizza.Name" />
            <span asp-validation-for="Pizza.Name"></span>
        </div>
        <div class="mb-3 d-flex justify-content-between">
            <strong>Descrizione:</strong>
            <input asp-for="Pizza.Description" />
            <span asp-validation-for="Pizza.Description"></span>
        </div>
        <div class="mb-3 d-flex justify-content-between">
            <strong>Prezzo:</strong>
            <input asp-for="Pizza.Price" />
            <span asp-validation-for="Pizza.Price"></span>
        </div>
        <div class="mb-3 d-flex justify-content-between">
            <strong>Immagine:</strong>
            <input asp-for="Pizza.Img" />
            <span asp-validation-for="Pizza.Img"></span>
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="Pizza.CategoryId">
                <option value=""></option>
                @if (Model.Pizza != null)
                {
                    @foreach (Category category in Model.Categories)
                    {
                        @if (Model.Pizza.CategoryId == category.Id)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="Pizza.CategoryId"></span>
        </div>
        <div class="mb-3">
            <strong>Ingredienti:</strong>
            <select asp-for="SelectedIngredients" size="10" multiple="multiple" class="form-control mb-2 leftList" asp-items="@Model.Ingredients">
            </select>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>