@{
    Layout = "_Layout";
    @model PizzaFormModel;

}

<a class="d-block mb-3" href="@Url.Action("Show", "Pizza", new { Id = @Model.Pizza.Id })">Indietro</a>
<form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Pizza.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <strong>Nome:</strong>
        <input asp-for="@Model.Pizza.Name" />
    </div>
    <div class="mb-3">
        <strong>Descrizione:</strong>
        <input asp-for="@Model.Pizza.Description" />
    </div>
    <div class="mb-3">
        <strong>Prezzo:</strong>
        <input asp-for="@Model.Pizza.Price" />
    </div>
    <div class="mb-3">
        <strong>Immagine:</strong>
        <input asp-for="@Model.Pizza.Img" />
    </div>
    <div class="mb-3">
        <strong>Categoria:</strong>
        <select asp-for="Pizza.CategoryId" rows="5" class="d-block w-100">
            <option value=""></option>
            @if (Model != null && Model.Pizza != null)
            {
                @foreach (Category category in Model.Categories)
                {
                    @if (Model.Pizza.CategoryId == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            }
        </select>
    </div>
    <div class="text-end">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>